p {
    margin: 0;
    padding: 0;
}

.clock {
    font-family: "Share Tech Mono", monospace;
    text-align: center;
    position: sticky;
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

#time {
    letter-spacing: 0.05em;
    font-size: 26px;
    padding: 5px 0;
}

#date {
    letter-spacing: 0.1em;
    font-size: 22px;
}